<%= provide(:title, "テンプレートの作成") %>
<% content_for(:body_attributes) do %>
data-turbolinks="false"
<% end %>
<section class="section-wrapper post-section-wrapper">

  <%= form_with(model: @fixed_cost ,url: fixed_costs_path, class: "post-form", local: true) do |f| %>
  <div class="small-sub-wrapper">
    <div class="form-label-set">
      <%= f.label :category_id, class: "form-label" do %>
      <i class="fas fa-tags"></i>
      <% end %>
      <%= f.collection_select :category_id , @relationship.categories, :id, :name, { selected: 1 }, { class: "form-select" } %>
      <%# collection_select => https://qiita.com/_akira19/items/c218186983f444c2d794 %>
    </div>
    <div class="form-label-set">
      <%= f.label :user_id, "誰", class: "form-label" do %>
      <i class="fas fa-user-friends"></i>
      <% end%>
      <%= f.collection_select :user_id , @relationship.users, :id, :name, { selected: 1 }, { class: "form-select" } %>
    </div>
  </div>

  <div class="large-sub-wrapper form-label-set payment-date-wrapper">
    <%= f.label :payment_date, class: "form-label col-2" do %>
    <i class="fas fa-calendar-alt"></i>
    <% end %>
    <span class="col-2 everu-month">毎月</span>
    <%= f.number_field :payment_date,  class: "form-control col-2" %>
    <span class="col-2">日</span>
  </div>

  <div class="large-sub-wrapper form-label-set">
    <%= f.label :content, class: "form-label" do %>
    <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= f.text_field :content, class: "form-control" %>
  </div>

  <div class="large-sub-wrapper price-wrapper">
    <%= f.label :price, class: "form-label" do %>
    <i class="fas fa-lg  fa-yen-sign yen-icon"></i>
    <% end %>
    <%= f.hidden_field :price, id: "output", class: "output" %>
    <p class="price-display" id="price-display"></p>
  </div>

  <%= f.submit "記録" ,class: "btn standerd-btn btn-primary" %>
  <% end %>

  <%= render "shared/calculator" %>

</section>