<section class="section-wrapper">
  <%= pie_chart @pie_chart,legend: {display: false}, donut: true, width: "200px", height: "200px", colors: @category_colors %>
  <p class="pie-chart-text">
    支出の合計<br><%= yen @total_price_all_users %>
  </p>
</section>
<section class="section-wrapper">
  <h2 class="table-title">支出の合計(全ユーザー)</h2>
  <ul class="stat-table total-table">
    <li class="stat-table-head">
      <span class="col-3">カテゴリ</span>
      <span class="col-3">実績</span>
      <span class="col-3">目標</span>
      <span class="col-3">差異</span>
    </li>

    <li class="total-sum">
      <span class="col-3">合計</span>
      <span class="col-3"><%= yen @total_price_all_users %></span>
      <span class="col-3 transparent"><%= yen @total_targets_all_users %></span>
      <span class="col-3 transparent"
        style="color:<%= price_color(@diff_all_users) %> ;">
        <%= yen @diff_all_users %>
      </span>
    </li>

    <% @c_count.times do |i| %>
    <li class="category-sum">
      <span class="col-3" style="color: <%= @category_colors[i] %>;">
        <%= @pie_chart[i][0] %>
      </span>
      <span class="col-3">
        <%= yen @pie_chart[i][1]  %>
      </span>
      <span class="col-3 transparent">
        <%= yen @targets_all_users[i] %>
      </span>
      <span class="col-3 transparent" style="color:<%= price_color(@targets_all_users[i] - @pie_chart[i][1]) %> ;">
        <%= yen @targets_all_users[i] - @pie_chart[i][1] %>
      </span>
    </li>
    <% end %>

  </ul>
</section>

<section class="section-wrapper">
  <h2 class="table-title">支出の合計(ユーザーごと)</h2>
  <ul class="stat-table individual-table">
    <li class="stat-table-head">
      <span class="col-3">カテゴリ</span>
      <% @relationship.users.each do |user| %>
      <span class="col-3"><%= user.name%></span>
      <% end %>
    </li>

    <li class="total-sum">
      <span class="col-3">
        合計
      </span>
      <% 3.times do |i| %>
      <span class="col-3">
        <%= yen @total_price_each_user[i] %>
      </span>
      <% end %>
    </li>

    <% @c_count.times do |i| %>
    <li class="category-sum">
      <span class="col-3" style="color: <%= @category_colors[i] %>;">
        <%= @pie_chart[i][0] %>
      </span>
      <% 3.times do |j| %>
      <span class="col-3">
        <%= yen  @posts_each_user[i][j] %>
      </span>
      <% end %>
    </li>
    <% end %>

  </ul>
</section>