<%= provide(:title, "会員登録") %>
<%= form_with(model: @user,url: {controller: 'users', action: 'create' }, local: true) do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.label :name, "ニックネーム：", class: "form-label" %>
  <%= f.text_field :name%>
  <p class="sub-info">10文字以内(家族内の呼び名)</p>
  <%# label for="user_name" %>
  <%# input id="user_name" name="user[name]" type="text" %>
  <%# name="user[name]" => Controllerにてparams[:user][:name]として取り出す %>

  <%= f.label :email, "メールアドレス：", class: "form-label" %>
  <%= f.email_field :email%>
  <p class="sub-info">このメールアドレスを使って会員認証します</p>

  <%= f.label :password, "パスワード：", class: "form-label" %>
  <%= f.password_field :password%>
  <p class="sub-info">8文字以上20文字以内</p>

  <%= f.label :password_confirmation, "パスワード（確認）：", class: "form-label" %>
  <%= f.password_field :password_confirmation%>
  <p></p>

  <%= f.submit "仮登録(メール送信)" ,class: "btn standerd-btn btn-primary" %>

<% end %>
<%= link_to "登録済みの方はこちら", login_path, class: "moderate" %>