<%= provide(:title, "家族情報 と 設定") %>

<div class="user-show">

<section class="section-wrapper">
  <% if @user.relationship %>
  <div class="container">
    <div class="relationship-info d-flex">
      <div class="col-4 d-flex flex-column justify-content-end align-items-center m-0 mt-2">
        <span><i class="fas fa-user fa-2x"></i></span>
        <span><%= @user.name %></span>
      </div>

      <div class="col-4 d-flex flex-column justify-content-around align-items-center m-0">
        <span class="col-8 text-center"><strong><%= @relationship.name %></strong></span>
        <span class="text-center lh-1"><small class="text-black-50">登録日
            <br><%= l @relationship.created_at, format: :date %></small></span>
      </div>

      <div class="col-4 d-flex flex-column justify-content-end align-items-center m-0 mt-2">
        <span><i class="fas fa-user fa-2x"></i></span>
        <span><%= @to_user.name %></span>
      </div>
    </div>
  </div>
</section>

<section class="section-wrapper">
  <div class="activity">
    <h2>直近のアクティビティ</h2>
    <ul class="mx-auto">
      <% @feed_items.each do |item| %>
      <li>
        <strong class="m-0"><%= l item.updated_at, format: :short_date_with_time %></strong>
        <p><%= item.user.name %> さんが <%= yen item.price %> の <%= item_type(item) %> を記入</p>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</section>

<section class="section-wrapper">
  <h2>各種設定</h2>
  <div class="menu-btns d-flex flex-wrap justify-content-center">
    <%= link_to logout_path, method: :delete, class: "card col-3 d-flex flex-column align-items-center justify-content-around vh-10" do%>
    <i class="fas fa-sign-out-alt fa-2x"></i>
    <span class="btn-description">ログアウト</span>
    <% end %>

    <%= link_to edit_user_path(@user), class: "card col-3 d-flex flex-column align-items-center justify-content-around vh-10" do%>
    <i class="fas fa-user-cog fa-2x"></i>
    <span class="btn-description">アカウント情報</span>
    <% end %>

    <% if @user.relationship %>

      <%= link_to categories_path, class: "card col-3 d-flex flex-column align-items-center justify-content-around vh-10" do%>
      <i class="fas fa-folder-open fa-2x"></i>
      <span class="btn-description">カテゴリー情報 / 目標額</span>
      <% end %>

      <%= link_to fixed_costs_path, class: "card col-3 d-flex flex-column align-items-center justify-content-around vh-10" do%>
      <i class="fas fa-file-export fa-2x"></i>
      <span class="btn-description">支出テンプレート</span>
      <% end %>
      
      <%= link_to report_multiple_path, class: "card col-3 d-flex flex-column align-items-center justify-content-around vh-10" do%>
      <i class="fas fa-file-excel fa-2x"></i>
      <span class="btn-description">支出のエクセル出力</span>
      <% end %>

    <% end %>

    <% if @user.relationship.nil? %>
      <%= link_to new_relationship_path, class: "card col-3 d-flex flex-column align-items-center justify-content-around vh-10" do%>
      <i class="fas fa-user-friends fa-2x"></i>
      <span class="btn-description">家族の登録</span>
      <% end %>
    <% end %>

  </div>
</section>

</div>
