<%= provide(:title, "パスワード変更") %>
  <div class="form">
    <%= form_with(url: password_resets_path, scope: :password_reset, local: true) do |f| %>
      <%# <%= render 'shared/error_messages' %>
      <%= f.label :email, "メールアドレス：", class: "form-label" %>
      <%= f.email_field :email%>

      <%= f.submit "メール送信" ,class: "btn standerd-btn btn-primary" %>

    <% end %>
    <%= link_to "戻る", login_path, class: "back-btn btn" %>
  </div>