<div class="paginate">
  <%= link_to posts_narrow_down_path(month: @month.prev_month), remote: true do %>
  <i class="fas fa-angle-double-left"></i>
  <% end %>
  <span><%= @month.year %>年 <%= @month.month %>月</span>
  <%= link_to posts_narrow_down_path(month: @month.next_month), remote: true  do %>
  <i class="fas fa-angle-double-right"></i>
  <% end %>
</div>

<div class="post-index-head card shadow-none">
  <span class="date col-2">
    <i class="fas fa-calendar-alt"></i>
  </span>
  <%= narrow_down_select("category", @relationship.categories) %>
  <span class="price col-3">
    <i class="fas fa-lg  fa-yen-sign yen-icon"></i>
  </span>
  <span class="content col-3">
    <i class="fas fa-pencil-alt"></i>
  </span>
  <%= narrow_down_select("user", @relationship.users) %>
</div>