<%= provide(:title, "支出の記録") %>
<section class="section-wrapper post-new-wrapper">

  <%= form_with(model: @post, url: {controller: 'posts', action: 'create' },class: "post-new-form", local: true) do |f| %>

  <div class="small-sub-wrapper">
    <div class="form-label-set">
      <%= f.label :category_id, class: "form-label" do %>
      <i class="fas fa-tags"></i>
      <% end %>
      <%= f.collection_select :category_id , @relationship.categories, :id, :name, { selected: 1 }, { class: "form-select" } %>
      <%# collection_select => https://qiita.com/_akira19/items/c218186983f444c2d794 %>
    </div>
    <div class="form-label-set">
      <%= f.label :user_id, "誰", class: "form-label" do %>
      <i class="fas fa-user-friends"></i>
      <% end%>
      <%= f.collection_select :user_id , @relationship.users, :id, :name, { selected: 1 }, { class: "form-select" } %>
    </div>
  </div>

  <div class="large-sub-wrapper form-label-set">
    <%= f.label :purchased_at, class: "form-label" do %>
    <i class="fas fa-calendar-alt"></i>
    <% end %>
    <%= f.date_field :purchased_at, value: Time.zone.today , class: "form-control" %>
  </div>

  <div class="large-sub-wrapper form-label-set">
    <%= f.label :content, class: "form-label" do %>
    <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= f.text_field :content, class: "form-control" %>
  </div>

  <div class="large-sub-wrapper price-wrapper">
    <%= f.label :price, class: "form-label" do %>
    <i class="fas fa-lg  fa-yen-sign yen-icon"></i>
    <% end %>
    <%= f.hidden_field :price, id: "output", class: "output" %>
    <p class="price-display" id="price-display"></p>
  </div>

  <%= f.submit "記録" ,class: "btn standerd-btn btn-primary" %>
  <% end %>

  <%= render "calculator" %>

</section>