<footer>
  <nav class="nav footer-nav position-fixed bottom-0">
  <% if logged_in? %>
    <%= link_to posts_path, class: "nav-link" do%>
      <i class="fas fa-list-ul"></i>
      <p>一覧</p>
    <% end %>
    <%= link_to posts_stat_path, class: "nav-link" do %>
      <i class="fas fa-chart-pie"></i>
      <p>月合計</p>
    <% end %>
    <%= link_to posts_stat_path, class: "nav-link" do %>
      <i class="fas fa-chart-bar"></i>
      <p>年合計</p>
    <% end %>
    <%= link_to new_post_path, class: "nav-link" do %>
      <i class="fas fa-lg fa-pencil-alt"></i>
      <p>記録</p>
    <% end %>
    <%= link_to categories_path, class: "nav-link" do %>
      <i class="fas fa-tags"></i>
      <p>カテゴリ</p>
    <% end %>
  <% end %>
  </nav>
</footer>