<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <title><%= yield(:title) %>></title>
</head>

<body>
  <%= render 'layouts/header' %>
  <main class="col-11 col-md-8 container">
    <%= yield %>
  </main>
  <%= render 'layouts/footer' %>
</body>

</html>