<%= provide(:title, "家族を登録") %>
<section class="section-wrapper">
  <h2>家族登録の方法</h2>
  <div class="container">
    <p>1. ご本人とパートナー、お二人とも会員登録をお済ませください</p>
    <p>2. 「招待コード作成」から、招待コードを確認してください</p>
    <p>3. 招待コードをパートナーに通知し、パートナーの方は通知された招待コードを「招待コード入力」の入力欄にご入力ください</p>
    <p>4. パートナーの方は家族名をご入力の上、「接続する」をタップしてください</p>
  </div>
</section>

<section class="section-wrapper">
  <h2>招待コード作成</h2>
  <div class="container invitation-code-making">
    <%= link_to "招待コードを作成する", relationships_invitation_code_path, class: "btn standerd-btn btn-primary" %>
  </div>
</section>

<section class="section-wrapper">
  <h2>招待コード入力</h2>
  <div class="container">
    <p>パートナーから教えてもらった招待コードを入力してください</p>
    <p>一度登録すると、ユーザー削除しない限り、家族の登録は解除できませんのでご注意ください。</p>
    <div class="invitation-code-form">

      <%= form_with(model: @relationship, url: {controller: 'relationships', action: 'create' }, local: true) do |f| %>
      <%# <%= render 'shared/error_messages' %> 

      <%= f.label :invitation_code, "パートナーの招待コード：", class: "form-label" %>
      <%= f.text_field :invitation_code %>
      <%# input id="relationship_invitation_code" name="relationship[invitation_code]" type="text" %>
      <%# name="relationship[invitation_code]" => Controllerにてparams[:relationship][:invitation_code]として取り出す %>

      <%= f.label :email, "パートナーの登録メールアドレス：", class: "form-label" %>
      <%= f.email_field :email %>

      <%= f.label :name, "登録する家族の名前：", class: "form-label" %>
      <%= f.text_field :name %>
      <p class="sub-info">6文字以内（例：松田家）</p>

      <%= f.submit "登録" ,class: "btn standerd-btn btn-primary"%>
      <% end %>
    </div>
  </div>
</section>