<%= provide(:title, "家族の情報") %>

<section class="section-wrapper">
  <div class="container">
    <ul class="relationship-info">
      <li>
        <span class="col-3">家族：</span>
        <span class="col-8"><%= @relationship.name %></span>
      </li>
      <li>
        <span class="col-3">登録日:</span>
        <span class="col-8"><%= l @relationship.created_at, format: :date %></span>
      </li>
      <li>
        <span class="col-3">名前：</span>
        <span class="col-8">
          <span>
            <%= @users[0].name %>
          </span>
          <span class="relationship-info-name">
            &
          </span>
          <span>
            <%= @users[1].name %>
          </span>
        </span>
      </li>
    </ul>
  </div>
  <%= link_to "戻る", user_path(current_user), class: "back-btn btn" %>
</section>